* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5;
    background-color: #D6E1F0;
    color: #000;
  }
  
  .card {
    margin: 50px auto; 
    background-color: #fff;
    padding: 16px 16px 40px 16px;
    width: 320px;
    
    border-radius: 20px;
    box-shadow: 0 25px 25px 0 #0000000C;
  }
  .card-image{
    width: 100%;
    border-radius: 10px;
    margin: 0;
  }
  .card-content {
    margin: 0px 16px 0px 16px;
  }
  .card-content > h2 {
    color: #1f314f;
    margin-top: 24px;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 700;
  }

  .card-content > p {
    color: #67778D;
    margin-top: 16px;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-weight: 400;
  }